<html>
    <head>
        <title>my html</title>
        <style>
            h1{ text-align: center;
                background-color: blueviolet;
                font-size: 30px;  
            }
            body{
                background-color: rgb(202, 182, 182);
            }
            form{
                text-align: center;
            }

        </style>
        <body>
          <center><h1>DETAILS </h1></center>
          <form action="http://127.0.0.1:8000/fsave/" method="post">
           Name:<input type="text" name="t1">
            <br>
            Place:<input typr="text" name="t2">
            <br>
            Phonenumber:<input type="text" name="t3">
            <br>
            Qualification:<input type="text" name="t4">
            <br>
            <center><h1>JOB</h1></center>
            Fathersname:<input type="text" name="t5">
            <br>
            Mothersname:<input type="text" name="t6">
            <br>
            Experience:<input type="text" name="t7">
            <br>
            <input type="submit">

          </form>
        </body>
    </head>
</html>